<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>

        <activity
            android:name=".widget.InputPasswordActivity"
            android:theme="@style/Theme.TransparentActivity"
            android:windowSoftInputMode="stateVisible|adjustPan"
            android:exported="false" />

        <activity
            android:name=".widget.InputMessageActivity"
            android:theme="@style/Theme.TransparentActivity"
            android:windowSoftInputMode="stateVisible|adjustPan"
            android:exported="false" />

        <receiver
            android:name=".widget.PasswordClickReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.widget.receiver.password" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".widget.MessageClickReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.widget.receiver.message" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".widget.CryptoolWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/cryptool_widget_info" />
        </receiver>

    </application>
</manifest>